#imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#imagen img {
    max-width: 100%; 
    max-height: 100%;
}

body {
    background-color: hsl(65, 100%, 42%);
}
#encabezado {
    flex: auto;
    background-color: hsl(65, 99%, 36%);  
    padding: 1%;
}

#tituloEncabezado {
    position: absolute;
    font-size: 150%;
    top: 5%;
    left: 5%;
    margin: 0;
}

#facebook {
    width: 20px;
    position: absolute;
    top: 5%;
    right: 10%;
}

#home {
    width: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
}

#instagram {
    width: 20px;
    position: absolute;
    top: 5%;
    right: 15%;
}

#contactos {
    width: 20px;

    position: absolute;
    top: 5%;
    right: 20%;
}