#imagen{
    width: 100%;
    margin: center;
    margin-left: auto;
    margin-right: auto;
}

#encabezado {
    background-color: #c4d600;  
    padding: 4%;
}

#tituloEncabezado {
    position: absolute;
    font-size: 150%;
    top: 5%;
    left: 5%;
    margin: 0;
}

#facebook {
    width: 2%;
    position: absolute;
    top: 5%;
    right: 10%;
}

#home {
    width: 2%;
    position: absolute;
    top: 5%;
    right: 5%;
}

#instagram {
    width: 2%;
    position: absolute;
    top: 5%;
    right: 15%;
}

#contactos {
    width: 2%;

    position: absolute;
    top: 5%;
    right: 20%;
}